<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        android:usesCleartextTraffic="true">
        <activity android:name=".soccer.EmptyActivity"></activity>
        <activity android:name=".soccer.FavouriteArticles" />
        <activity android:name=".soccer.SoccerLanding" />
        <activity android:name=".songstar.FavouriteList" />
        <activity android:name=".songstar.FragmentPhoneActivity" />
        <activity android:name=".songstar.SongsterList" />
        <activity android:name=".songstar.SongsterSearch"/>
        <activity
            android:name=".trivia.leaderboard.TriviaActivityLeaderboard"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".trivia.quiz.TriviaEmptyQuestionActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".trivia.quiz.TriviaQuizActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".trivia.TriviaActivityLanding"
            android:label="@string/title_activity_trivia"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity android:name=".car_database.MenuItems"  android:label="Muhammad Ehsan Khan V1.0"></activity>
        <activity android:name=".car_database.SavedCars"  android:label="Muhammad Ehsan Khan V1.0"/>
        <activity
            android:name=".car_database.EmptyActivity"  android:label="Muhammad Ehsan Khan V1.0"
       />
        <activity android:name=".car_database.CarsList"  android:label="Muhammad Ehsan Khan V1.0" />
        <activity android:name=".car_database.HomePage"
            android:label="Muhammad Ehsan Khan V1.0"/>
        <activity android:name=".MainActivity" android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>